/.vs/*
/Report202*
/Runner/bin/*
/Runner/obj/
/Runner.UnitTest/bin/
/Runner.UnitTest/obj/
/bin/
/doc/~$
/Runner.Interfaces/bin/
/Runner.Interfaces/bin/
/Runner.Interfaces/bin/
/Runner.Interfaces/obj/
/Modules/bin/
